body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  width: 320px;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.9s;
  color: #2f2f2f;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

fieldset,
input {
  border: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  width: 100%;
}

.header__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #c9c9c9;
}

.modal__result {
  text-align: center;
}

.calc__output {
  font-size: 54px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.calc__output:disabled {
  color: #2f2f2f;
  background-color: #fff;
}

.content__contanier,
.footer__contanier,
.header__contanier,
.main__contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 315px;
  margin: 0 auto;
  padding: 0;
}

.main__contanier {
  margin-bottom: 20px;
  border-bottom: 1px solid #c9c9c9;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.calc__input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #00465b;
}

.calc__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.calc__btn {
  width: 100px;
  height: 25px;
  border: 1px solid #181818;
  border-radius: 3px;
  background-color: #fff;
}
 .svg__btn {
   margin-right: 5px;
 }
.content {
  font-size: 14px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 80%;
}

.footer__link {
  font-family: 'Cutive Mono', 'Open Sans', monospace;
  color: #908282;
}

.calc__btn:hover {
  border-color: #e9e9e9;
}

.calc__input:hover {
  border-color: #00465b;
}

.calc__input:invalid {
  box-shadow: none;
}

.footer__link:hover {
  color: #00465b;
}
